* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
	font-family: sans-serif;
	justify-content: center;
	overflow: hidden;
}
h1 {
	font-size: 60px;
	text-align: center;
}

label {
	font-weight: bold;
}

div {
	text-align: center;
	margin: 10px;
}

input[type="text"], input[type="password"], button {
	font-family: inherit;
	font-weight: bold;
	font-size: 18px;
	height: 44px;
	border-radius: 4px;
	outline: 0;
}
input[type="text"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}
input[type="text"]:focus {
	border-color: #f000ff;
}
input[type="password"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}
input[type="password"]:focus {
	border-color: #f000ff;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: #59ff5a;
	border: 0;
	border-bottom: 2px solid #1e830b;
	cursor: pointer;
}
button:active {
	position: relative;
	top: 1px;
}

a {
	text-decoration: none;
	color: black;
}

.slot {
	background: url(images/EmptySlot64.png) no-repeat no-repeat;
	width: 64px;
	height: 64px;
	display: inline-block;
	margin: 3px;
}

.slot-item {
	background: url(images/electrons/Electron.png) no-repeat no-repeat;
	width: 32px;
	height: 32px;
	scale: 1.5;
	margin: 16px;
}